<div class="modal-dialog" th:fragment="add">
    <div class="modal-content">
        <form class="form-contents">
            <div class="modal-header">
                <h4 class="modal-title">Add Rider</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group" th:each="field : ${fieldsMap}">
                    <label th:text="${field.value}" />
                    <input th:name="${field.key}" type="text" class="form-control" required />
                </div>
            </div>
            <div class="modal-footer">

                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input id="btn_add" type="submit" class="btn btn-success" value="Add">
            </div>
        </form>
    </div>
</div>