<div class="modal-dialog" th:fragment="delete">
    <div class="modal-content">
        <form>
            <div class="modal-header">
                <h4 class="modal-title">Delete Record(s)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p id="showid">Continue with Delete?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <span id="delete_data_id" value="" />

                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input id="btn_delete" type="submit" class="btn btn-danger" value="Delete">
            </div>
        </form>
    </div>
</div>