<div class="modal-dialog" th:fragment="edit">
    <div class="modal-content">
        <form class="edit-contents">
            <div class="modal-header">
                <h4 class="modal-title">Edit Record</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group" th:each="field : ${fieldsMap}">
                    <label th:text="${field.value}" />
                    <input th:name="${field.key}" type="text" class="form-control" required />
                </div>
            </div>
            <div class="modal-footer">
                <span id="edit_data_id" />
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input id="btn_edit" type="submit" class="btn btn-info" value="Save">
            </div>
        </form>
    </div>
</div>