<div class="table-wrapper" th:fragment="table">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2 th:text="${name}" />
            </div>
            <div class="col-sm-6">
                <a href="#addModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Record</span></a>
                <a href="#deleteModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete All</span></a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th th:each="column : ${columns}" th:value="${column}" th:text="${column}" />
            </tr>
        </thead>

        <!-- Table Rows -->
        <tbody id="details"></tbody>

    </table>
</div>