<tr>
    <td>
    </td>

    <span></span>
    <td>{{d.firstName}} {{d.lastName}} (ID: {{d.id}})</td>
    <td>{{d.telephone}}</td>
    <td>
        <a href="#editModal" class="edit view-admin" data-toggle="modal" data-id="{{d.id}}">
            <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
        </a>

        <a href="#deleteModal" class="delete view-admin" data-toggle="modal" data-id="{{d.id}}">
            <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
        </a>
    </td>
</tr>